body {
  background-color: rgb(159, 221, 236);
  color: white;
  align-items: center;
  position: absolute;
  text-align: center;
  width: 100%;
}

.cards {
}

.cards__row {
  justify-content: center;
  display: flex;
  width: 100%;
}

i {
  font-size: 100px !important;
}

.card {
  color: black;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 200px;
  height: 300px;
  transition: all 1.5s;
  /* transform-style: preserve-3d; */
}

.card--back {
  transform: rotateY(0deg);
  background-image: url("../images/card-back.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.card i {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1.5s, opacity 0.4s step-end;
}

.card.card--front i {
  visibility: visible;
  opacity: 1;
}

.card--front {
  transform: rotateY(180deg);
  background-image: url("../images/card-front.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.clock--red {
  color: red;
}
